.login {
  overflow: hidden;
  height: 100vh;
  position: relative;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    transform: rotate(4deg);
    width: 120%;
  }
  &:before {
    height: 70%;
    background: #1b4965;
    top: -100px;
    left: -20px;
  }
  &:after {
    height: 60%;
    background: #61dafb;
    bottom: -100px;
    left: -30px;
  }
}

.errorInput {
  border: 1px solid 
}

.formWrapper {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .formBox {
    box-shadow: 0 0 10px #4a4a4a;
    background: #fff;
    padding: 30px 50px;
    .customForm {
      position: relative;
      z-index: 1;
    }
    .title {
      margin: 0 0 20px 0;
      font-size: 32px;
    }
  }
}

.formErrorText {
  color: #dc3545;
  margin: 0;
}

.logo {
  display: inline-block;
  animation-name: rotate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  z-index: 0;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
